.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
ios/Pods/
vendor/
.env
.env.*
*.pem
*.key
*.jks
*.keystore
local.properties
keystore.properties
google-services.json
GoogleService-Info.plist
